<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeamCraft - Kayıtlı Geliştiriciler</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Kayıtlı Geliştiriciler</h1>

    <% if (developers.length > 0) { %>
        <ul>
            <% developers.forEach(dev => { %>
                    <a href="/developers/<%= dev._id %>" class="developer-link">
                        <li>
                            <strong><%= dev.name %></strong>
                            <span>Yetenekler: <%= dev.skills %></span>
                        </li>
                    </a>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Henüz kayıtlı geliştirici bulunmuyor.</p>
    <% } %>

    <br>
    <a href="/">Yeni Profil Ekle</a>
</body>
</html>